html{
    margin: 0;
}
body{
    margin: 0;
    background-color: rgb(48, 48, 48);
    color:white;
}

div.head-text{
    text-align: center;
}
div.head-text>.abbriviature{
    display: block;
    font-size: 8em;
    font-family: 'Alfa Slab One', cursive;
    color:rgb(150, 206, 194);
}
div.head-text>.description{
    font-family: 'Merienda', cursive;
    font-size: 1.8em;
}
menu{
    display: block;
    text-align: center;
    background-color: rgba(248, 248, 248, 0.11);
    box-shadow: 0 0 5px white;
}
menu>li{
    display: inline-block;
    padding: 0.5em 0.5em;
    font-size: 2em;
    letter-spacing: 0.1em;
    
}
menu>li>a, menu>li>a:visited{
    color:white;
    
    text-decoration: none;
}
menu>li:hover{
    background-color: rgba(248, 248, 248, 0.11)
    
}
main{
    padding: 3em;
    max-width: 1366px;
    margin: auto;
}
.actions{
    position: absolute;
    display: inline-flex;
    right: 0;
    line-height: 2em;
    height: 2em;
    top: -0.5em;
}
.btn-ops{
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    line-height: 2em;
    height: 2em;
    background-color: rgba(248, 248, 248, 0.05);
    padding: 0.01em 0.5em;
    box-shadow: 0 1px 0px 0 white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-add>.icon {
    
    font-size: 2em;
    text-shadow: 0 0px 0.09em rgba(248, 248, 248, 1);
}
.btn-ops>.text{
    display: inline-block;
}
.btn-add>.text{
    transform: translateY(-0.25em);
}

.info-header{
    font-size: 1.7em;
    padding-bottom: 0.8em;
    position: relative;
}
.info-header>span{
    position: relative;
    display: inline-block;
}
.table>.row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.row:nth-of-type(even){
    background-color: rgba(248, 248, 248, 0.11);
}
.row:nth-of-type(odd){
    background-color: rgba(248, 248, 248, 0.05);
}
.row.row-header{
    font-weight: bold;
}
.cell{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
}

input.cell{
    border:none;
    background: none;
    color: white;
    font-size: 1em;
    width: 100%;
    font-family: serif;
}
input.cell:focus{
    box-shadow: 0 1px 0 0 rgba(248, 248, 248, 0.3);
}
.row.row-header>.cell{
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
}

.info{
    background-color: rgba(248, 248, 248, 0.06);
    padding: 1.5em;
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.03);
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}
.info:target{
    opacity: 1;
    display: block;
}

.row>.cell:nth-of-type(even){
    border-left: 4px solid rgba(0,0,0,0.2);
    border-right: 4px solid rgba(0,0,0,0.2);

}